@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-layouts/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-grids/styles/material.css";
@import "../node_modules/@syncfusion/ej2-treegrid/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-gantt/styles/material.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.red-header {
  background-color: red;
}
.MuiDataGrid-header {
  background-color: red;
}

/* scroll bar css---------------------------------------- */
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
}

/* reuseable custom tailwind calsses ------------------------------------------ */
.go-back-btn {
  @apply bg-slate-300 p-2 px-4 text-sm md:text-base font-medium w-fit rounded-lg;
}
.logout-btn {
  @apply bg-red-500 p-2 px-4 text-sm md:text-base font-medium w-fit rounded-lg;
}
.add-row-btn {
  @apply bg-slate-400 mt-2 font-semibold hover:bg-green-500 p-2.5 text-xs md:text-sm rounded-lg;
}
.delete-row-btn {
  @apply bg-slate-400 mt-2 ml-2 font-semibold hover:bg-red-500 p-2.5 text-xs md:text-sm rounded-lg;
}
.upload-form-btn {
  @apply bg-green-400 disabled:bg-gray-400 hover:bg-green-600 text-sm md:text-base py-2 px-4 font-semibold rounded-lg my-4;
}

.main-btn {
  @apply bg-gray-300 hover:bg-gray-400 rounded-md py-3 px-4 font-semibold w-full text-center max-w-[300px] cursor-pointer;
}
.page-heading {
  @apply mt-2 text-lg md:text-2xl text-center font-medium mb-3 md:mb-6;
}

.custom-table {
  @apply mt-2 table-auto text-sm md:text-base w-full;
}
.custom-table-head {
  @apply bg-blue-500 text-white border border-gray-300;
}
.custom-table-row {
  @apply px-2 border-gray-400 border;
}
.custom-table-data {
  @apply bg-white border border-gray-400;
}
.custom-table-input {
  @apply w-max md:w-full p-2 border-none outline-none disabled:bg-white bg-white;
}
